body {
    background-color: rgb(243, 243, 91);
}

.menu{
    background: rgb(245, 241, 241);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}

.logo{
    margin: 2% 0 2% 2%;
}

.navemenu ul{
    padding-right: 20px ;
}

.navemenu li{
    display: inline;
    margin: 5px;
}

.navemenu a {
    text-decoration: none;
    color: rgb(5, 5, 5);
}
.navemenu a:hover{
    color: rgb(150, 104, 194);
}
.main{
    display: flex;
    justify-content: space-between;
}

.content{
    margin-left: auto;
}
.content h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-right: 30px;
}

.itens{
    margin-bottom: 20px;
    font-size: 30px;
    margin-left: 20px;
}

.banner{
    margin-right: auto;
}

